@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

/*body*/
body {margin: 0;}

/*font*/
* {font-family: Poppins;}


/*nav bar*/
.nav-bar ul {
    list-style-type: none;
    background-color: white;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

@font-face {
    font-family: Poppins;
    src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
}

.nav-bar a {
    color: black;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    font-family: Poppins;
}

#page-nav a:hover {
    background-color: rgb(255, 241, 227);
    color: rgb(208, 156, 67);
}

#support-nav a:hover {
    background-color: rgb(255, 241, 227);
    color: rgb(208, 156, 67);
}

#page-logo a:hover {
    color: rgb(208, 156, 67);
}

.nav-bar li {
    float: left;
}

.header { 
    width: 1260px;
    height: 80px;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    top: 0;
}

.nav-bar {
    display: flex;
    align-items: center;
    width: auto;
    height: 50px;
    background-color: white;
    float: left;
}

#brand-image {
    width: 50px;
    height: 32px;
}

#page-logo {
    width: auto;
    height: 80px;
    margin-right: 300px;
}

.nav-bar-logo {
    width: auto;
    height: auto;
    background-color: white;
    float: left;
}

#brand-name {
    text-decoration: none;
    color: black;
    font-size: 10px;
    padding: 0;
}

#page-nav {
    margin-right: 50px;
    margin-left: 50px;
    height: 80px;
}

#support-nav {
    height: 80px;
    margin-right: 50px;
    margin-left: 50px;
}



/*footer*/
.footer-nav-lists li {
    list-style: none;
    line-height: 50px;
}

.footer-nav-lists a{text-decoration: none;}

.footer-nav-link {color: black;}

.foot {
    margin-left: 50px;
    margin-top: 30px;
    margin-bottom: 80px;
    align-items: flex-start;
    height: 300px;
    width: 1210px;
    display: grid;
    grid-template-columns: 300px 100px 150px 300px;
    grid-column-gap: 100px;
}

.footer-nav-heading {
    color: #9F9F9F;
    font-size: 17px;
} 

#address {
    color: #9F9F9F; 
    font-size: 17px;
    margin-top: 50px;
}

#footer-heading-1 {font-size: 25px;}

input[type="text"] {
    width: 60%;
    padding: 5px 10px 5px 0;  
    margin: 8px 0;
    border: none;  
    border-bottom: 2px solid rgb(0, 0, 0);
}

#subscribe-button {
    border: none;  
    border-bottom: 2px solid rgb(0, 0, 0);
    background-color: white;
    padding: 5px 0; 
    margin-left: 10px;
}

input:focus {outline: none;}

#subscribe-button:hover {
    color: rgb(168, 168, 168);
    border-bottom: 2px solid rgb(168, 168, 168);
}

#copy-right {margin-left: 50px;}

/*hero*/
#hero1 {
    height: 400px;
    width: 1260px;
    position: absolute;
    z-index: -1;
    top: 0;
}

#hero-box-heading-1 {
    font-size: 48px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0;
}

#hero-box-description {
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
}

#hero-inform-box {justify-content: center;}


#hero-icon {
    margin-left: 600px;
    margin-top: 90px;
    margin-bottom: 0;
}

/*section-5*/
.section-5 {
    display: grid;
    grid-template-columns: 300px 300px 250px 220px;
    grid-column-gap: 30px;
    margin-top: 90px;
    height: 200px;
    margin-right: 0;
    margin-left: 30px;
    align-items: center;
}

.sec-5 {
    display: grid;
    grid-template-columns: 50px 250px;
    grid-column-gap: 20px;
    align-items: center;
    line-height: 15px;
}

#section-5 {background-color: #FAF3EA;}



/*123 button*/
.next-page-button {
    background-color: #F9F1E7;
    font-size: 20px;
    border-radius: 10px;
    width: 60px;
    height: 60px;
    border: none;
    text-align: center;
}

.next-page-button:hover {
    background-color: #B88E2F;
    color: white;
}

#button-next {width: 90px; }

#section-11 {
    text-align: center;
    margin-top: 50px;
}


/*blog*/
.blog {
    width: 800px;
    height: 900px;
}

#section-8 {
    margin-top: 150px;
    margin-left: 50px;
}

.blog-img {
    width: 750px;
    height: 450px;
}

.blog-infor {
    display: grid;
    grid-template-columns: 100px 150px 150px;
    height: 30px;
    margin-top: 20px;
    color: #9F9F9F;
}

.blog-cont {
    font-size: 15px;
    width: 750px;
    text-align: justify;
    color: #9F9F9F;
}

.blog-head {
    font-size: 30px;
    width: 750px;
    font-weight: bolder;
}

.readmore {
    border: none;  
    border-bottom: 2px solid rgb(0, 0, 0);
    background-color: white;
    padding: 0; 
    margin-left: 0;
}

.readmore:hover {
    color: #9F9F9F;
    border-bottom: 2px solid #9F9F9F;
}

#blog-container {
    display: grid;
    grid-template-columns: 810px 400px;
    height: 2700px;
    grid-column-gap: 50px;
}

#right {
    margin-top: 150px;
}

.right-cont {
    margin-left: 30px;
    margin-right: 0;
    margin-top: 50px;
}

.small-blog {
    display: grid;
    grid-template-columns: 100px 180px;
    height: 80px;
    align-items: center;
}

.small-blog-container {
    display: grid;
    grid-template-rows: 80px 80px 80px 80px 80px;
    grid-row-gap: 20px;
    cursor: pointer;
}

.blog-date {
    margin-top: 0;
    font-size: 12px;
    color: #9F9F9F;
}

.blog-heading {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 14px;
}

.right-heading {
    font-size: 24px;
}

#sec-10-heading {margin-top: 100px;}

.cat-list {
    display: grid;
    grid-template-columns: 200px 100px;
}

.sec-9-list li {
    list-style: none;
    font-size: 16px;
    color: #9F9F9F;
    line-height: 50px;
}

#sec-form {
    border: 1.5px solid #9F9F9F;
    border-radius: 10px;
    width: 330px;
    height: 55px;
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#search-text {
    border: none;
    background-color: none;
    padding: 0;
    margin: 0;
    width: 290px;
    height: 40px;
    font-size: 18px;
    margin-top: 8px;
}

#search-button {
    background-color: white;
    border: none;
    font-size: 20px;
}
